:root {
  --width: 210mm;
  --height: 290mm;
}

@page {
  size: 210mm 290mm;
  overflow: hidden;

  margin-top: 5mm;
  margin-bottom: 5mm;
  /* 打印的时候不能使用px为单位 */
}

.slide {
  /* 每一页 */
  width: var(--width);

  margin-left: auto;
  margin-right: auto;

  display: block;
}

@media screen {
  /* 打印之后没有边框 */
  .slide {
    border: 1px solid black;
  }
}

.content {
  /* 页内容 */
  max-width: var(--width);
  word-break: break-all;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

