body {
  overflow: hidden;
}

.slide {
  transition-duration: 1s;
  width: 100%;

  display: block;
  position: absolute;
  overflow: hidden;
}

@media screen {
  /* 打印之后没有边框 */
  .slide {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
  }
}

.content {
  /* 页内容 */
  overflow: hidden;
  max-width: 1000px;
  
  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}