@font-face {
  font-family: 'varela round';
  src: url("../font/VarelaRound.ttf");
}

body {
  margin: 0;
  font-family: 'varela round'
}

h1 {
  text-align: center;
}

.code {
  background: rgb(220, 220, 220);
  font-family: 'DejaVu Sans Mono for Powerline';
}

img {
  width: 100%;
}

blockquote {
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-left: 6px solid rgb(175, 175, 175);
  background-color: rgb(248, 248, 248);
}

table {
  border-left: 1px solid #ddd;
  border-top-left-radius: 3px;
  background-color: rgb(250, 250, 250);
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  line-height: 1.7;
  border-bottom: 3px solid #ccc;
  border-right: 1px solid #ddd;
}

table th {
  border-top: 3px solid #ccc;
}
