:root {
  --shadow_grey: rgba(153, 153, 153, 1);
  --box_grey: rgba(237, 237, 237, 1);
  --text_orange: rgba(252, 100, 35, 1);
  --box_orange: rgba(255, 206, 189, 1);
  --text_grey: rgba(99, 99, 99, 1);
  --code_grey: rgba(230, 230, 230, 1);
  --text_blue: rgba(0, 191, 255, 1);
  --link_blue: rgba(32, 178, 170, 1);
  --hover_blue: rgba(72, 209, 204, 1);
  --normal_green: rgba(0, 210, 0, 1);
  --light_green: rgba(0, 245, 87, 1);
}

body {
  margin: 0;
  font-size: large;
}

h1 {
  text-align: center;
}

.code {
  background: rgb(220, 220, 220);
}

img {
  margin-left: 14%;
  /* TODO */
  width: 70%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table thead tr {
  background-color: rgb(248, 248, 248);
}

table th,
table td {
  padding-top: 5px;
  padding-bottom: 5px;
  /* 防止latex公式过挤 */
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

table tr {
  transition-duration: 0.5s;
}

table tr:hover {
  background-color: rgb(240, 240, 240);
}

blockquote {
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-left: 6px solid rgb(175, 175, 175);
  background-color: rgb(248, 248, 248);
}

p,
ul,
table {
  font-family: 'Arimo for Powerline', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: normal;
  font-family: 'Microsoft Yahei', sans-serif;
}

p strong,
ul strong,
table strong,
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  color: var(--text_orange);
}

ul li {
  list-style: none;
  margin-top: 5px;
  padding-bottom: 5px;
  /* 解决latex公式过挤的问题 */
}

ul li::before {
  content: "●";
  left: -5px;
  font-family: serif;
  color: var(--hover_blue);
  position: relative;
  float: left;
}

ul ul li::before {
  color: #bbb;
  text-shadow: 0px 0px 0px #aaa;
}

ul ul ul li::before {
  color: #eee;
  text-shadow: 0px 0px 0px #ddd;
}
