:root {
  --width: 1000px;
  --height: 700px;
}

@page {
  size: 1000px 700px;
  overflow: hidden;
}

.slide {
  /* 每一页 */
  width: var(--width);
  height: var(--height);
  transform-origin: top left;

  display: block;
  position: absolute;
  overflow: hidden;
}

@media screen {
  /* 打印之后没有边框 */
  .slide {
    box-shadow: 0px 0px 10px black;
  }
}

.content {
  /* 页内容 */
  max-width: var(--width);
  max-height: var(--height);
  overflow: hidden;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}